# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
vendor/

# npm
node_modules

# Electron
dist/
out/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# For this project
CLI/PChome/FakeBpwmsRequestToAgvReply/input/wcs_trans_log.WTL_DISPATCHER_RAW_DATA.json
CLI/PChome/FakeBpwmsRequestToAgvReply/output/Fake_AGV_Reply.json
